* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 img {
    width: 100%;
 }
.header-container {
    background-color: #435ea2;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
}

.left {
    width: 60px;
}
.left img {
    cursor: pointer;
}
.center {
    width: 50%;
}
.center > input[type="text"] {
    width: 100%;
    outline: none;
    padding: 0.5rem;
}

.right {
    width: 50px;
}